.icon {
  display: inline-block;
  flex: none;
  vertical-align: -0.125em;
}

.xs {
  width: var(--ds-size-icon-xs);
  height: var(--ds-size-icon-xs);
}

.sm {
  width: var(--ds-size-icon-sm);
  height: var(--ds-size-icon-sm);
}

.md {
  width: var(--ds-size-icon-md);
  height: var(--ds-size-icon-md);
}

.lg {
  width: var(--ds-size-icon-lg);
  height: var(--ds-size-icon-lg);
}

.xl {
  width: var(--ds-size-icon-xl);
  height: var(--ds-size-icon-xl);
}

@media (forced-colors: active) {
  .icon {
    color: currentColor;
    forced-color-adjust: auto;
  }
}
